* 
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
   
  }
  
  .header {
    margin: 1rem auto;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .errorMsg,
  .loading {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  
  .errorMsg {
    color: #d86161;
  }
  
  
  
  .user-list {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    
  }

.user {
    padding: 1px !important;
}
  .user:hover {
    -webkit-transform:scale(1.4);
    transform:scale(1.4);
    
    
    
  }
  
  .user{overflow:hidden;}
  .card{overflow:hidden;}

  .small{
    height: 200px !important;
  }
  .user-image img {
    margin-top: 10%;
    align-items: center;
    border-radius: 50%;
  }

  .circle {
      padding-top: 20%;
  }
  .name {
      font-weight: bolder;
  }
  .city {
    font-style: oblique;
}
.hide{
  display:none;
}
.detalle {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.img-detalle {
    padding: 1%;
  
    position: relative;
    left: 1%;
    right: 1%;
    top: 1%;
    bottom: 1%;
    width: 100%;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 2px 2px;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
    width:100%;
  
}

.Info {
    vertical-align: middle;
    width: 100%;
    font-size: calc(1em + 1vw);
    height: 100%;
    align-items: center;
    word-break: break-all;
}
.text {
    text-align:left;
}
.icono {
    text-align: right !Important;
    display: inline-block;
    
}

  

  